body {
    background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

.container {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 25px 0px black;
    padding: 30px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    font-family: sans-serif;
}

.entrada {
    background-color: rgba(255, 255, 255, 0);
}
button{
    margin-top: 15px;
    width: auto;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    background-color: black;
    color: white;
}

h1 {
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}

input {
    border: none;
    width: 300px;
    height: auto;
    font-size: 20px;
    margin-top: 15px;
}

:focus {
    outline: none;
}

form {
    padding: 20px;
}

textarea {
    margin-top: 15px;
    border: none;
    width: 350px;
    height: 100px;
    font-size: 20px;
}

textarea:focus {
    border: none;
}
::placeholder {
    font-size: 20px;
}